<li>
	{{burger_name}}

	<button class="change-devour btn btn-success" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}Return{{/if}}
	</button>

	<button type="button" id="delBurg" class="delete-burger btn btn-danger" data-id="{{this.id}}">Remove</button>
</li>